<% if @user.errors.any? %>
  <div class="error-box">
    <p class="error-red"><%= @user.errors.count %>errors prohibited this book from being saved:</p>
    <ul class="errors">
      <% @user.errors.full_messages.each do |message| %>
        <p class="error-message">・<%= message %></p>
      <% end %>
    </ul>
  <% end %>
  </div>
<h2>User Info</h2>
<%= form_with model: @user do |f| %>
  <label for="inputName">Name</label>
  <%= f.text_field :name, autofocus: true %>
  <label for="inputImage">ProfileImage</label>
  <%= f.file_field :profile_image, accept: "image/*" %>  
  <label for="inputName">Introduction</label>
  <%= f.text_area :introduction %>
  <%= f.submit "変更を保存" %>
<% end %>